.header {
    background-color: #2E3B59;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.card-title {
    color: #334E6F !important;
}

.body {
    background-color: #F9F9F9;
}

.footer {
    background-color: white;
}

.sub-header {
    background-color: white;
    color: #888DA0;
}

.nav-item {
    border-right: 1px solid #ccc;
}

.nav-item-first {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.card-index-detail {
    background-color: #F5F5F5 !important;
}

.card-color {
    display: flex;
    background-color: #f0f0f0;
    border-radius: 5px;
}

hr.line { 
    margin: 0;
} 